*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #555;
  font: 16px "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  margin: 10px;
  padding: 0;
}

.headline {
  font-style: italic;
}

.by {
  font-style: italic;
  position: absolute;
  right: 10px;
  top: 10px;
}

#code {
  background-color: #fafafa;
  border: 1px solid #ccc;
  color: #888;
  font: 14px "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  resize: vertical;
  width: 100%;
  height: 455px;
  max-height: 600px;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.tests {
  padding-left: 20px;
}

.test {
  margin-bottom: 10px;
}

label {
  border-bottom: 1px dotted #ccc;
  display: inline-block;
  width: 75%;
}

.result {
  font-size: 26px;
  font-weight: bold;
}

.no {
  color: #0a0;
}

.yes {
  color: red;
}

.size .label {
  color: #aaa;
  font-size: 14px;
  font-weight: normal;
}

.size .label .num {
  color: #555;
  font-size: 20px;
  font-weight: bold;
  padding-right: 3px;
}

.info {
  background-color: #eee;
  font: 13px "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  margin-top: 0;
  padding: 10px;
  width: 75%;
}
